@charset "UTF-8";
*{margin: 0; padding: 0;}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.wrap{}
.top_box{
    position: relative;
    height: 100vh;
    background: #080808;
}
.top_box h2{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 80px;
}

.fix_motion{
    background: blue;
}
.fix_motion .fix_wrap{
    height: 400vh;
}
.fix_motion .device_fix{
    /* sticky는 부모들 모두 overflow: hidden;이 없어야 한다.
    평소에는 position
    영역에 들어오면 position: fixed;처럼 행동한다.
    :left조절이 안됨.  */
    position: sticky;
    top: 0;
}
.fix_motion .inner{
    height: 100vh;
    overflow: hidden;
}
.fix_motion .slide_wrap{
    position: relative;
    height: 100vh;
}
.fix_motion .slide{
    position: absolute;
    width: 400vw;
    transition: 0.5s;
}
.fix_motion .slide .child{
    position: relative;
    float: left;
    width: 100vw; height: 100vh;
}
.fix_motion .slide .child1{
    background: skyblue;
}
.fix_motion .slide .child2{
    background: pink;
}
.fix_motion .slide .child3{
    background: lightgreen;
}
.fix_motion .slide .child4{
    background: lightgrey;
}
.fix_motion .slide .child h2{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(100%, -50%);
    transition: 0.5s 0.6s;
    opacity: 0;
    color: #333;
    font-size: 50px;
}
.fix_motion .slide .child1 h2{
    transition: 0.5s 0.2s;
}
.fix_motion .slide .child.active h2{
    transform: translate(-50%, -50%);
    opacity: 1;
}

.bottom{}