@charset "UTF-8";
:root{ 
    --lGreen: #00a651;
    --dGreen: #009640;
}
ul,li{list-style: none;}
a{color: #222; text-decoration: none;}
em{font-style: normal;}
img{width: 100%; display: block;}

.clearfix::after{content: ""; display: block; clear: both;}


.history{padding-top: 200px;}
.history_stroy{}
.container{
    width: 1200px;
    margin: 0 auto;
}
.history_title{
    text-align: center;
}
.history_title h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #222;
}
.history_title h2 em{
    color: var(--lGreen);
}

.history_btn{}
.history_btn ul{
    width: 51%;
    margin: 100px auto;
}
.history_btn ul li{
    float: left; /* 바로 위에 부모한테 clearfix를 줘야함 */
    width: 20%;
    margin-left: -1px;
}
.history_btn ul li a{
    display: block;
    border: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
}
.history_btn ul li.active a{
    color: #fff;
    background-color: var(--lGreen);
    border-color: var(--dGreen);
    font-weight: bold;
}

.history_slide_wrap{
    margin-top: -100px;
}
.history_slide{
    position: relative;
    width: 100%;
}
.history_slide div{}
.history_slide div img{}

.history_slide .slick-arrow{
    position: absolute;
    bottom: 12px;
    z-index: 50;
    background: none;
    border: none;
    font-size: 0;
    width: 30px; height: 30px;
}
.history_slide .slick-prev{left: 40%;}
.history_slide .slick-prev::before{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    content: "\f100";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    border-radius: 50%;
    line-height: 30px;
}
.history_slide .slick-prev:hover:before{
    color: #fff;
    background: var(--lGreen);
    font-size: 25px;
}
.history_slide .slick-next{right: 40%;}
.history_slide .slick-next::before{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    border-radius: 50%;
    line-height: 30px;
}
.history_slide .slick-next:hover:before{
    color: #fff;
    background: var(--lGreen);
    font-size: 25px;
}

.history_page{
    position: relative;
    text-align: center;
    margin-top: -38px;
    z-index: 40;
}
.history_page em{}
.history_page strong{color: #222;}