@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* html{scroll-behavior: smooth;} : 화면을 부드럽게 (스크롤) 넘어가는 기능*/

#nav{
    position: fixed;
    left: 0; top: 0; right: 0; /* 넓이가 100% 된다는 뜻 */
    background-color: rgba(255,255,255,0.3); /* 투명도 주는 방법 */
    z-index: 100;
}
#nav h1{float: left; /* 옆으로 정렬, 부모의 왼쪽에 붙음 */
    color: #fff; font-size: 40px;
    padding-left: 20px;
}

#nav ul{float: right;
    padding-top: 10px;
}
#nav ul li{float: left; /* ul이 기준이 되어서 왼쪽 정렬인 left를 줌 */
    padding: 5px 5px 5px 15px;
}
#nav ul li a{color: #fff; text-transform: capitalize; 
    /* uppercase는 대문자 변형 */
    /* capitalize는 앞글자만 대문자로 변형 */
}
#nav ul li.active a{color: #000; font-weight: bold;}

#nav .mNav{display: none;
    position: absolute; 
    width: 65px; height: 65px; top: 10px; right: 10px;
    padding-top: 10px;
}
#nav .mNav .icon-wrap{}
#nav .mNav .icon-wrap .icon{position: relative;}
#nav .mNav .icon-wrap .icon:before,
#nav .mNav .icon-wrap .icon:after,
#nav .mNav .icon-wrap .icon{
    width: 45px; height: 4px; background: #444;
}
#nav .mNav .icon-wrap .icon:before{
    content: ""; position: absolute;
    top: 10px; left: 0;
}
#nav .mNav .icon-wrap .icon:after{
    content: ""; position: absolute;
    top: -10px; left: 0;
}
    


#contents{}
#contents>div{height: 100vh; text-align: center;
}
#contents>div h2{
    padding-top: 10%; /* %의 기준은 부모의 넓이 */
    font-size: 90px;
}
#contents>div#section1{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
#contents>div#section2{
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
#contents>div#section3{
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
}
#contents>div#section4{
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
}
#contents>div#section5{
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); 
}
#contents>div#section6{
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}


/* 미디어쿼리(MediaQuery)
미디어쿼리는 화면 크기에 따라 각각의 속성값을 지정하여 여러가지 화면을 구성하는 기술이다.

구성 방법

@media only all and (조건문){실행문}

@media : 미디어쿼리가 시작됨을 표시함. 생략할 수 없음.
only : 미디어쿼리 구문을 해석하라는 뜻. 생략 가능.
all : 미디어쿼리를 해석해야 할 대상을 나타내는 것. 생략 가능.
      -all : 모든 미디어 유형에서 사용할 css를 정의
      -print : 인쇄장치에서 사용할 css를 정의
      -screen : 컴퓨터 스크린에서 사용할 css를 정의
      -aural : 화면을 읽어 소리로 출력해 주는 장치에서 사용할 css를 정의
      -tv : TV 화면에서 사용할 css를 정의
      -handheld : 손에 들고 다니는 장치에 사용할 css를 정의
      -projection : 프로젝트를 위한 css를 정의
and : 앞과 뒤의 조건을 나타냄. 생략 가능
(조건문) : 해당 조건을 나타냄. 생략할 수 없음.
{실행문} : 조건에 따른 실행문. 생략할 수 없음. */

/* 화면의 넓이가 800px 이하일 때 */
@media (max-width:800px){
    #nav .mNav{display: block;}
    #nav ul{display: none;  float: none;}
    #nav ul li{float: none; width: 100%; 
        text-align: center; 
        background-color:rgba(255,255,255,0.3);
        padding:10px 0;
    }
    #nav ul li.active{
        background-color:rgba(255,255,255,0.5);
    }
    #nav h1{float: none; text-align: center;
    }
}